/** Page Synopsis */


div.hero-unit {
	background: url(http://www.filestoa.com/img/background/anseongpasture_ISC9278_1280.png) no-repeat top left fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#container {
  margin: 12px 6px 6px 6px;
  padding: 6px 12px;

}


.input_label_text {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

